Repository hx-natthawat/pea-poc-renewal-energy-forecast-platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:python, lint:typescript, test:backend, test:frontend, sast:bandit, container_scanning:trivy:backend, container_scanning:trivy:frontend, build:backend, build:frontend, build:ml

Path conditions:
  lint:python: any of: backend/**/*
  lint:typescript: any of: frontend/**/*
  test:backend: any of: backend/**/*
  test:frontend: any of: frontend/**/*
  sast:bandit: any of: backend/**/*
  container_scanning:trivy:backend: any of: backend/**/*
  container_scanning:trivy:frontend: any of: frontend/**/*
  build:backend: any of: backend/**/*
  build:frontend: any of: frontend/**/*
  build:ml: any of: ml/**/*

feat: allow pnpm test and pytest commands in Claude settings and update frontend tsconfig build info.
  .claude/settings.local.json
  frontend/tsconfig.tsbuildinfo
Due: lint:typescript, test:frontend, container_scanning:trivy:frontend, build:frontend

test: Add frontend unit tests for utils and api modules
  frontend/src/lib/api.test.ts
  frontend/src/lib/utils.test.ts
Due: lint:typescript, test:frontend, container_scanning:trivy:frontend, build:frontend

chore(e2e): standardize Playwright import order in test files.
  frontend/e2e/api-health.spec.ts
  frontend/e2e/dashboard.spec.ts
  frontend/e2e/mobile.spec.ts
  frontend/next-env.d.ts
Due: lint:typescript, test:frontend, container_scanning:trivy:frontend, build:frontend

feat: Add PM Director autonomous orchestration and project management commands
  .claude/commands/health-check.md
  .claude/commands/pm-director.md
  .claude/commands/release.md
  .claude/commands/sprint-plan.md
  CLAUDE.md
Due: none

refactor: Rename /pm-director command to /orchestrate
  .claude/commands/orchestrate.md
  CLAUDE.md
Due: none

chore: Update Next.js development type import path in `next-env.d.ts`.
  .claude/commands/health-check.md
  .claude/commands/orchestrate.md
  .claude/commands/release.md
  .claude/commands/sprint-plan.md
  frontend/tsconfig.tsbuildinfo
Due: lint:typescript, test:frontend, container_scanning:trivy:frontend, build:frontend

docs: Update sprint plan and release status for deployment readiness
  docs/RELEASE-STATUS.md
  docs/plans/sprint-current.md
Due: none

feat: Implement audit log viewer for TOR 7.1.6 compliance
  .claude/settings.local.json
  backend/app/api/v1/endpoints/audit.py
  backend/app/api/v1/router.py
  backend/app/models/schemas/audit.py
  backend/app/services/audit_service.py
  backend/tests/unit/test_audit.py
  frontend/src/app/(dashboard)/audit/page.tsx
  frontend/src/app/page.tsx
  frontend/src/components/admin/AuditLogViewer.tsx
  frontend/src/components/admin/index.ts
  frontend/src/components/filters/AuditLogFilters.tsx
  frontend/src/components/filters/index.ts
  frontend/src/components/tables/AuditLogTable.tsx
  frontend/src/components/tables/index.ts
  frontend/src/types/audit.ts
Due: lint:python, lint:typescript, test:backend, test:frontend, sast:bandit, container_scanning:trivy:backend, container_scanning:trivy:frontend, build:backend, build:frontend

chore: Update Claude model to Sonnet and regenerate TypeScript build info.
  .claude/settings.local.json
  frontend/tsconfig.tsbuildinfo
Due: lint:typescript, test:frontend, container_scanning:trivy:frontend, build:frontend

docs: Update release status with audit log feature completion
  docs/RELEASE-STATUS.md
Due: none

feat: Add /demo command and endpoints for stakeholder demonstrations
  .claude/commands/demo.md
  CLAUDE.md
  backend/app/api/v1/endpoints/demo.py
  backend/app/api/v1/router.py
  ml/scripts/generate_demo_data.py
Due: lint:python, test:backend, sast:bandit, container_scanning:trivy:backend, build:backend, build:ml

feat: Implement knowledge base with schema, index, taxonomy, and glossary, along with new Claude commands and agent configurations.
  .claude/agents.json
  .claude/commands/km-manager.md
  .claude/commands/orchestrate.md
  .claude/settings.local.json
  CLAUDE.md
  docs/knowledge-base/domain/glossary.yaml
  docs/knowledge-base/graph-schema.yaml
  docs/knowledge-base/index.yaml
  docs/knowledge-base/taxonomy.yaml
Due: none

docs: Update sprint plan with completed orchestrator tasks
  docs/plans/sprint-current.md
Due: none

docs: Add comprehensive deployment runbook for staging/production
  docs/operations/runbooks/deployment-runbook.md
  docs/plans/sprint-current.md
Due: none

refactor: Update database connection strings for asyncpg and remove service worker preload response.
  backend/requirements.txt
  docker/docker-compose.yml
  frontend/public/sw.js
Due: lint:python, lint:typescript, test:backend, test:frontend, sast:bandit, container_scanning:trivy:backend, container_scanning:trivy:frontend, build:backend, build:frontend

refactor: Add shared DashboardShell layout for consistent page styling
  frontend/src/app/(dashboard)/audit/page.tsx
  frontend/src/components/admin/AuditLogViewer.tsx
  frontend/src/components/layout/DashboardShell.tsx
  frontend/src/components/layout/index.ts
  frontend/src/lib/api.test.ts
  frontend/src/types/audit.ts
Due: lint:typescript, test:frontend, container_scanning:trivy:frontend, build:frontend

feat: Update audit log statistics display, integrate AuditPage into DashboardShell, and enhance API URL resolution with environment variables.
  .claude/settings.local.json
Due: none

docs: Update release status and sprint plan with DashboardShell completion
  docs/RELEASE-STATUS.md
  docs/plans/sprint-current.md
Due: none

docs: Add comprehensive POC Q&A rehearsal guide
  docs/plans/poc-qa.md
Due: none

feat: Add auto-layout, snap-to-grid, and persistent view options to the network graph, and include new Git commands in Claude settings.
  .claude/settings.local.json
  frontend/src/components/dashboard/NetworkGraphView.tsx
  frontend/tsconfig.tsbuildinfo
Due: lint:typescript, test:frontend, container_scanning:trivy:frontend, build:frontend

refactor: centralize and standardize network graph layout calculations for improved node positioning and consistency.
  frontend/src/components/dashboard/NetworkGraphView.tsx
Due: lint:typescript, test:frontend, container_scanning:trivy:frontend, build:frontend

docs: Add TOR 7 Functions requirements and gap analysis
  .claude/settings.local.json
  backend/app/main.py
  docs/plans/tor-7-functions-roadmap.md
  requirements/tor-7-functions.md
Due: lint:python, test:backend, sast:bandit, container_scanning:trivy:backend, build:backend

feat: Add Phase 2a API endpoints for Load, Demand, and Imbalance forecasts
  backend/app/api/v1/endpoints/demand_forecast.py
  backend/app/api/v1/endpoints/imbalance_forecast.py
  backend/app/api/v1/endpoints/load_forecast.py
  backend/app/api/v1/router.py
  docs/plans/tor-7-functions-roadmap.md
Due: lint:python, test:backend, sast:bandit, container_scanning:trivy:backend, build:backend

test: Add comprehensive unit tests for Phase 2a endpoints
  backend/pytest.ini
  backend/tests/unit/README_PHASE2A_TESTS.md
  backend/tests/unit/test_demand_forecast.py
  backend/tests/unit/test_imbalance_forecast.py
  backend/tests/unit/test_load_forecast.py
  docs/RELEASE-STATUS.md
Due: lint:python, test:backend, sast:bandit, container_scanning:trivy:backend, build:backend

security: Fix critical and high-priority vulnerabilities
  backend/app/core/security.py
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: lint:python, lint:typescript, test:backend, test:frontend, sast:bandit, container_scanning:trivy:backend, container_scanning:trivy:frontend, build:backend, build:frontend

docs: Mark Phase 2a as COMPLETE in TOR roadmap
  docs/plans/tor-7-functions-roadmap.md
Due: none

security: Add security headers middleware (OWASP best practices)
  backend/app/core/middleware.py
  backend/app/main.py
Due: lint:python, test:backend, sast:bandit, container_scanning:trivy:backend, build:backend

security: Restrict CORS configuration to explicit allow lists
  backend/app/main.py
Due: lint:python, test:backend, sast:bandit, container_scanning:trivy:backend, build:backend

docs: Update release status with security hardening
  docs/RELEASE-STATUS.md
Due: none

chore: Exclude generated test artifacts from Biome linting
  frontend/biome.json
Due: lint:typescript, test:frontend, container_scanning:trivy:frontend, build:frontend

chore: Clean up unused imports in backend tests
  backend/tests/unit/test_notifications.py
  backend/tests/unit/test_regions.py
  backend/tests/unit/test_websocket_manager.py
Due: lint:python, test:backend, sast:bandit, container_scanning:trivy:backend, build:backend

chore: Apply ruff linting fixes to test files
  backend/tests/conftest.py
  backend/tests/load/test_api_load.py
  backend/tests/unit/test_alerts.py
  backend/tests/unit/test_comparison.py
  backend/tests/unit/test_data.py
  backend/tests/unit/test_dayahead.py
  backend/tests/unit/test_drift_detection.py
  backend/tests/unit/test_forecast.py
  backend/tests/unit/test_health.py
  backend/tests/unit/test_ml_inference.py
  backend/tests/unit/test_monitoring.py
  backend/tests/unit/test_region_service.py
  backend/tests/unit/test_retraining.py
  backend/tests/unit/test_security.py
  backend/tests/unit/test_services.py
  backend/tests/unit/test_topology.py
  backend/tests/unit/test_weather.py
Due: lint:python, test:backend, sast:bandit, container_scanning:trivy:backend, build:backend

feat: Update POC data base year and feature document dates to 2025.
  .claude/settings.local.json
  frontend/src/app/page.tsx
  frontend/tsconfig.tsbuildinfo
Due: lint:typescript, test:frontend, container_scanning:trivy:frontend, build:frontend

docs: Add Phase 2b DOE implementation plan
  docs/plans/phase-2b-doe-implementation.md
Due: none

fix: Improve Docker security and build efficiency
  backend/.dockerignore
  ml/.dockerignore
  ml/Dockerfile
Due: lint:python, test:backend, sast:bandit, container_scanning:trivy:backend, build:backend, build:ml

fix: Apply Priority 1 deployment fixes for staging readiness
  .gitlab-ci.yml
  docs/deployment-readiness-report.md
  infrastructure/argocd/application-production.yaml
  infrastructure/argocd/application-staging.yaml
  infrastructure/argocd/project.yaml
Due: none

feat: Complete all Priority 1 deployment blockers
  docs/deployment-readiness-report.md
  docs/operations/secrets-management-strategy.md
  infrastructure/helm/pea-re-forecast/templates/ml-service.yaml
  infrastructure/helm/pea-re-forecast/values-prod.yaml
  infrastructure/helm/pea-re-forecast/values.yaml
Due: none

docs: Update sprint plan with Priority 1 completion status
  docs/plans/sprint-current.md
Due: none

feat: Add PodDisruptionBudgets and NetworkPolicies for production HA
  docs/deployment-readiness-report.md
  infrastructure/helm/pea-re-forecast/templates/networkpolicy.yaml
  infrastructure/helm/pea-re-forecast/templates/pdb.yaml
  infrastructure/helm/pea-re-forecast/values-prod.yaml
  infrastructure/helm/pea-re-forecast/values.yaml
Due: none
