Repository hx-natthawat/pea-poc-renewal-energy-forecast-platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:python, lint:typescript, test:backend, test:frontend, sast:bandit, container_scanning:trivy:backend, container_scanning:trivy:frontend, build:backend, build:frontend, build:ml

Path conditions:
  lint:python: any of: backend/**/*
  lint:typescript: any of: frontend/**/*
  test:backend: any of: backend/**/*
  test:frontend: any of: frontend/**/*
  sast:bandit: any of: backend/**/*
  container_scanning:trivy:backend: any of: backend/**/*
  container_scanning:trivy:frontend: any of: frontend/**/*
  build:backend: any of: backend/**/*
  build:frontend: any of: frontend/**/*
  build:ml: any of: ml/**/*

fix: Add `suppressHydrationWarning` to frontend navigation elements and update Claude development tool commands.
  .claude/settings.json
  .claude/settings.local.json
Due: none

docs: Update sprint plan with Priority 2 completion status
  docs/plans/sprint-current.md
Due: none

feat(ui): Add contextual help tooltip sidebar system
  .claude/settings.local.json
  docs/plans/feature-help-tooltip-sidebar.md
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/page.tsx
  frontend/src/components/help/HelpSidebar.tsx
  frontend/src/components/help/HelpTrigger.tsx
  frontend/src/components/help/__tests__/HelpSidebar.test.tsx
  frontend/src/components/help/__tests__/HelpTrigger.test.tsx
  frontend/src/components/help/__tests__/helpStore.test.ts
  frontend/src/components/help/content/alerts.ts
  frontend/src/components/help/content/audit.ts
  frontend/src/components/help/content/grid.ts
  frontend/src/components/help/content/history.ts
  frontend/src/components/help/content/index.ts
  frontend/src/components/help/content/overview.ts
  frontend/src/components/help/content/solar.ts
  frontend/src/components/help/content/voltage.ts
  frontend/src/components/help/index.ts
  frontend/src/components/help/types.ts
  frontend/src/stores/helpStore.ts
  frontend/src/test/setup.ts
  frontend/tsconfig.tsbuildinfo
Due: lint:typescript, test:frontend, container_scanning:trivy:frontend, build:frontend

docs: Update test counts and add Help Tooltip to sprint
  docs/RELEASE-STATUS.md
  docs/plans/sprint-current.md
Due: none

fix(ui): Improve Help Tooltip UX for responsive devices
  frontend/src/app/page.tsx
  frontend/src/components/help/HelpSidebar.tsx
  frontend/src/components/help/HelpTrigger.tsx
  frontend/src/components/help/__tests__/HelpTrigger.test.tsx
Due: lint:typescript, test:frontend, container_scanning:trivy:frontend, build:frontend

docs: Update test counts after Help UX improvements
  docs/RELEASE-STATUS.md
  docs/plans/sprint-current.md
Due: none

feat(ui): Standardize Help icons inline with brand colors
  .claude/settings.local.json
  frontend/package.json
  frontend/src/app/page.tsx
  frontend/src/components/charts/DemandForecastChart.tsx
  frontend/src/components/charts/ImbalanceMonitor.tsx
  frontend/src/components/charts/LoadForecastChart.tsx
  frontend/src/components/charts/SolarForecastChart.tsx
  frontend/src/components/charts/VoltageMonitorChart.tsx
  frontend/src/components/dashboard/AlertDashboard.tsx
  frontend/src/components/dashboard/DayAheadReport.tsx
  frontend/src/components/dashboard/ForecastComparison.tsx
  frontend/src/components/dashboard/HistoricalAnalysis.tsx
  frontend/src/components/dashboard/ModelPerformance.tsx
  frontend/src/components/dashboard/NetworkTopology.tsx
  frontend/src/components/help/HelpSidebar.tsx
  frontend/src/components/help/HelpTrigger.tsx
  frontend/src/components/help/__tests__/HelpSidebar.test.tsx
  frontend/src/components/help/__tests__/HelpTrigger.test.tsx
Due: lint:typescript, test:frontend, container_scanning:trivy:frontend, build:frontend

feat(api): Add GET endpoints for Grid Operations (TOR 7.5)
  backend/app/api/v1/endpoints/demand_forecast.py
  backend/app/api/v1/endpoints/imbalance_forecast.py
  backend/app/api/v1/endpoints/load_forecast.py
Due: lint:python, test:backend, sast:bandit, container_scanning:trivy:backend, build:backend

chore: Fix e2e linting warnings and add dev roadmap
  docs/roadmaps/dev-roadmap.md
  frontend/e2e/api-health.spec.ts
  frontend/e2e/dashboard.spec.ts
Due: lint:typescript, test:frontend, container_scanning:trivy:frontend, build:frontend

docs: Update dev-roadmap with accurate implementation status
  docs/roadmaps/dev-roadmap.md
Due: none

docs: Add POC demo presentation and speaker notes
  docs/presentations/poc-demo-script.md
  docs/presentations/poc-demo-slides.md
Due: none

Add new development and Git commands to local settings, update frontend dependencies, and revise presentation slides.
  .claude/settings.local.json
  docs/presentations/poc-demo-slides.md
  frontend/pnpm-lock.yaml
Due: lint:typescript, test:frontend, container_scanning:trivy:frontend, build:frontend

chore: Expand allowed Bash commands in Claude settings and update pnpm lockfile.
  frontend/src/app/page.tsx
  frontend/src/components/dashboard/TORPortal.tsx
  frontend/src/components/dashboard/index.ts
  frontend/tsconfig.tsbuildinfo
Due: lint:typescript, test:frontend, container_scanning:trivy:frontend, build:frontend

feat: implement settings dropdown menu in header with audit logs, alert settings, and API status.
  .claude/settings.local.json
  frontend/src/app/page.tsx
  frontend/tsconfig.tsbuildinfo
Due: lint:typescript, test:frontend, container_scanning:trivy:frontend, build:frontend

feat: add a settings dropdown menu to the frontend and allow `wc` command in Claude local settings.
  frontend/src/app/globals.css
  frontend/src/app/page.tsx
  frontend/src/components/charts/SolarForecastChart.tsx
  frontend/src/components/dashboard/AlertDashboard.tsx
  frontend/src/components/ui/ChartError.tsx
  frontend/src/components/ui/ErrorBanner.tsx
  frontend/src/components/ui/ErrorBoundary.tsx
  frontend/src/components/ui/index.ts
Due: lint:typescript, test:frontend, container_scanning:trivy:frontend, build:frontend

feat(security): Add HashiCorp Vault secrets management (TOR Table 2)
  backend/app/core/secrets.py
  backend/requirements.txt
  backend/tests/unit/test_secrets.py
  infrastructure/helm/pea-re-forecast/values.yaml
  infrastructure/kubernetes/security/vault/README.md
  infrastructure/kubernetes/security/vault/namespace.yaml
  infrastructure/kubernetes/security/vault/vault-config.yaml
  infrastructure/kubernetes/security/vault/vault-deployment.yaml
  infrastructure/kubernetes/security/vault/vault-init-job.yaml
Due: lint:python, test:backend, sast:bandit, container_scanning:trivy:backend, build:backend

feat(security): Add Kubernetes Network Policies for zero-trust networking (TOR 7.1.3)
  infrastructure/kubernetes/security/network-policies/README.md
  infrastructure/kubernetes/security/network-policies/backend-policy.yaml
  infrastructure/kubernetes/security/network-policies/database-policy.yaml
  infrastructure/kubernetes/security/network-policies/default-deny.yaml
  infrastructure/kubernetes/security/network-policies/frontend-policy.yaml
  infrastructure/kubernetes/security/network-policies/vault-policy.yaml
Due: none

feat(observability): Add Prometheus, Grafana, AlertManager stack
  infrastructure/kubernetes/observability/README.md
  infrastructure/kubernetes/observability/alertmanager/alertmanager-deployment.yaml
  infrastructure/kubernetes/observability/grafana/grafana-deployment.yaml
  infrastructure/kubernetes/observability/namespace.yaml
  infrastructure/kubernetes/observability/prometheus/alert-rules.yaml
  infrastructure/kubernetes/observability/prometheus/prometheus-config.yaml
  infrastructure/kubernetes/observability/prometheus/prometheus-deployment.yaml
Due: none

docs: Update RELEASE-STATUS with Phase 3 Infrastructure completion
  docs/RELEASE-STATUS.md
Due: none

chore(observability): Update to latest stable versions
  docs/RELEASE-STATUS.md
  infrastructure/kubernetes/observability/README.md
  infrastructure/kubernetes/observability/alertmanager/alertmanager-deployment.yaml
  infrastructure/kubernetes/observability/grafana/grafana-deployment.yaml
  infrastructure/kubernetes/observability/prometheus/prometheus-deployment.yaml
Due: none

feat(security): Add TLS certificate management with cert-manager (TOR 7.1.3)
  docs/RELEASE-STATUS.md
  infrastructure/kubernetes/security/cert-manager/README.md
  infrastructure/kubernetes/security/cert-manager/certificates-dev.yaml
  infrastructure/kubernetes/security/cert-manager/certificates.yaml
  infrastructure/kubernetes/security/cert-manager/cluster-issuer.yaml
  infrastructure/kubernetes/security/cert-manager/ingress-tls.yaml
  infrastructure/kubernetes/security/cert-manager/kustomization.yaml
Due: none

feat(observability): Export Grafana dashboards for production deployment
  infrastructure/kubernetes/observability/grafana/dashboards/pea-alerts.json
  infrastructure/kubernetes/observability/grafana/dashboards/pea-k8s-overview.json
Due: none

docs: Add client handover checklist and staging deployment script
  docs/CLIENT-HANDOVER-CHECKLIST.md
  scripts/deploy-staging.sh
Due: none

docs: Add CHANGELOG.md and update RELEASE-STATUS with handover section
  CHANGELOG.md
  docs/RELEASE-STATUS.md
Due: none

feat(health): Implement real DB/Redis connectivity checks
  backend/app/api/v1/endpoints/health.py
  backend/app/api/v2/endpoints/health.py
  backend/app/core/health.py
  backend/app/main.py
Due: lint:python, test:backend, sast:bandit, container_scanning:trivy:backend, build:backend

test(health): Add comprehensive unit tests for health module
  backend/tests/unit/test_health.py
  docs/RELEASE-STATUS.md
Due: lint:python, test:backend, sast:bandit, container_scanning:trivy:backend, build:backend

feat: Add new Bash commands for git status, git log, Prometheus alerts, and a Grafana URL to allowed list.
  .claude/settings.local.json
  docs/presentations/poc-demo-script.md
  docs/presentations/poc-demo-slides.md
Due: none

feat(infra): Add Kong API Gateway with path-based routing (TOR 7.1.3)
  infrastructure/helm/pea-re-forecast/values.yaml
  infrastructure/kubernetes/ingress/kong/kong-config.yaml
Due: none

docs: Update RELEASE-STATUS.md with Kong API Gateway
  docs/RELEASE-STATUS.md
Due: none

feat(infra): Add Kong Docker deployment with declarative config
  docker/docker-compose.kong.yml
  docker/kong/kong.yml
Due: none

fix(frontend): Auto-detect Kong gateway on port 8888
  docker/docker-compose.kong.yml
  frontend/src/lib/api.test.ts
  frontend/src/lib/api.ts
Due: lint:typescript, test:frontend, container_scanning:trivy:frontend, build:frontend

feat: Add Kong API Gateway with declarative path-based routing and update Helm ingress configuration to enable and configure Nginx path-based routing.
  .claude/settings.local.json
  frontend/package.json
Due: lint:typescript, test:frontend, container_scanning:trivy:frontend, build:frontend

chore: Update test metrics and frontend dependencies
  .claude/settings.local.json
  docs/RELEASE-STATUS.md
  docs/plans/sprint-current.md
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: lint:typescript, test:frontend, container_scanning:trivy:frontend, build:frontend

chore(deps): Upgrade React to 19.2.1 and Tailwind to 4.1.17
  frontend/package.json
Due: lint:typescript, test:frontend, container_scanning:trivy:frontend, build:frontend

feat: Implement Kong gateway routing for API and WebSocket services, and add new dashboard pages with a dedicated layout.
  .claude/settings.local.json
  docker/kong/kong.yml
  frontend/next.config.ts
  frontend/package.json
  frontend/pnpm-workspace.yaml
  frontend/src/app/(dashboard)/alerts/page.tsx
  frontend/src/app/(dashboard)/audit/page.tsx
  frontend/src/app/(dashboard)/grid/page.tsx
  frontend/src/app/(dashboard)/history/page.tsx
  frontend/src/app/(dashboard)/layout.tsx
  frontend/src/app/(dashboard)/overview/page.tsx
  frontend/src/app/(dashboard)/solar/page.tsx
  frontend/src/app/(dashboard)/voltage/page.tsx
  frontend/src/app/page.tsx
  frontend/src/components/layout/DashboardLayout.tsx
  frontend/src/components/layout/index.ts
  frontend/src/lib/api.ts
  frontend/tsconfig.tsbuildinfo
Due: lint:typescript, test:frontend, container_scanning:trivy:frontend, build:frontend

feat: Implement Kong API Gateway integration for frontend API and WebSocket routing, including PWA cache version update.
  .claude/settings.local.json
  docker/kong/kong.yml
  frontend/Dockerfile
  frontend/package.json
  frontend/public/sw.js
  frontend/src/components/layout/index.ts
  frontend/src/components/pwa/ServiceWorkerRegistration.tsx
  frontend/src/hooks/useWebSocket.ts
  frontend/src/lib/api.test.ts
  frontend/src/lib/api.ts
  frontend/tsconfig.tsbuildinfo
  scripts/dev-kong.sh
Due: lint:typescript, test:frontend, container_scanning:trivy:frontend, build:frontend

feat: Add Kong route for Next.js internal resources like fonts.
  docker/kong/kong.yml
Due: none

fix(a11y): Move HelpSidebar toggle button outside aria-hidden container
  frontend/src/components/help/HelpSidebar.tsx
Due: lint:typescript, test:frontend, container_scanning:trivy:frontend, build:frontend

chore: Add *.tsbuildinfo to gitignore
  .gitignore
  frontend/tsconfig.tsbuildinfo
Due: lint:typescript, test:frontend, container_scanning:trivy:frontend, build:frontend

fix: Implement unified API routing architecture for local development
  .claude/commands/one.md
  .claude/settings.local.json
  .gitignore
  docs/plans/tor-7-functions-roadmap.md
  frontend/next.config.ts
  frontend/src/lib/.gitkeep
  frontend/src/lib/api.test.ts
  frontend/src/lib/api.ts
  frontend/src/lib/utils.ts
Due: lint:typescript, test:frontend, container_scanning:trivy:frontend, build:frontend
