Repository hx-natthawat/pea-poc-renewal-energy-forecast-platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:python, lint:typescript, test:backend, test:frontend, sast:bandit, container_scanning:trivy:backend, container_scanning:trivy:frontend, build:backend, build:frontend, build:ml

Path conditions:
  lint:python: any of: backend/**/*
  lint:typescript: any of: frontend/**/*
  test:backend: any of: backend/**/*
  test:frontend: any of: frontend/**/*
  sast:bandit: any of: backend/**/*
  container_scanning:trivy:backend: any of: backend/**/*
  container_scanning:trivy:frontend: any of: frontend/**/*
  build:backend: any of: backend/**/*
  build:frontend: any of: frontend/**/*
  build:ml: any of: ml/**/*

feat(help): Add TOR tooltip help system with Tailwind v4 theme config
  frontend/biome.json
  frontend/src/app/globals.css
  frontend/src/components/dashboard/TORPortal.tsx
  frontend/src/components/help/HelpSidebar.tsx
  frontend/src/components/help/HelpTrigger.tsx
  frontend/src/components/help/__tests__/HelpTrigger.test.tsx
  frontend/src/components/help/content/index.ts
  frontend/src/components/help/content/tor.ts
Due: lint:typescript, test:frontend, container_scanning:trivy:frontend, build:frontend

chore: Add /one command docs and fix Kong localhost config
  CLAUDE.md
  docker/kong/kong.yml
Due: none

feat(chat): Add AI assistant chat with AI SDK v5 + OpenRouter
  docs/plans/feature-ai-chat.md
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/api/chat/route.ts
  frontend/src/components/chat/AIChatSidebar.tsx
  frontend/src/components/chat/ChatInput.tsx
  frontend/src/components/chat/ChatMessage.tsx
  frontend/src/components/chat/ChatTrigger.tsx
  frontend/src/components/chat/index.ts
  frontend/src/components/layout/DashboardShell.tsx
  frontend/src/stores/chatStore.ts
Due: lint:typescript, test:frontend, container_scanning:trivy:frontend, build:frontend

feat(rag): Add RAG system for AI Chat context injection
  .claude/settings.local.json
  docs/architecture/adr/003-rag-implementation.md
  docs/architecture/rag-system.md
  docs/guides/rag-usage-guide.md
  frontend/package-lock.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/api/chat/route.ts
  frontend/src/lib/rag/README.md
  frontend/src/lib/rag/formatter.test.ts
  frontend/src/lib/rag/formatter.ts
  frontend/src/lib/rag/index.ts
  frontend/src/lib/rag/loader.ts
  frontend/src/lib/rag/search.test.ts
  frontend/src/lib/rag/search.ts
  frontend/src/lib/rag/types.ts
Due: lint:typescript, test:frontend, container_scanning:trivy:frontend, build:frontend

docs: Add color guide design asset
  docs/guides/design/color-guide.png
Due: none

chore: update HelpSidebar component and rebuild TypeScript build info.
  .claude/settings.local.json
Due: none

fix(security): Address SQL injection, DoS, and performance issues
  backend/app/api/v1/endpoints/data.py
  backend/app/api/v1/websocket/manager.py
  backend/app/core/cache.py
  backend/app/core/config.py
  backend/tests/unit/test_cache.py
  docs/RELEASE-STATUS.md
  docs/plans/feature-ai-chat.md
  docs/plans/sprint-current.md
Due: lint:python, test:backend, sast:bandit, container_scanning:trivy:backend, build:backend

fix(validation): Add runtime type guards and prosumer ID validation
  backend/app/api/v1/endpoints/forecast.py
  frontend/src/hooks/useWebSocket.ts
Due: lint:python, lint:typescript, test:backend, test:frontend, sast:bandit, container_scanning:trivy:backend, container_scanning:trivy:frontend, build:backend, build:frontend

chore: Add WebSocket error logging and update sprint docs
  backend/app/api/v1/websocket/realtime.py
  docs/plans/sprint-current.md
Due: lint:python, test:backend, sast:bandit, container_scanning:trivy:backend, build:backend

fix(security): Update Next.js to 16.0.10 (CVE fix)
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: lint:typescript, test:frontend, container_scanning:trivy:frontend, build:frontend

fix(api): Add ML prediction error handling in forecast endpoints
  backend/app/api/v1/endpoints/forecast.py
Due: lint:python, test:backend, sast:bandit, container_scanning:trivy:backend, build:backend

fix(api): SQL injection and error handling in alerts endpoint
  backend/app/api/v1/endpoints/alerts.py
Due: lint:python, test:backend, sast:bandit, container_scanning:trivy:backend, build:backend

fix(security): Eliminate SQL injection in 9 additional endpoints
  backend/app/api/v1/endpoints/comparison.py
  backend/app/api/v1/endpoints/monitoring.py
  backend/app/api/v1/endpoints/retraining.py
Due: lint:python, test:backend, sast:bandit, container_scanning:trivy:backend, build:backend

docs: Update sprint with security fixes summary
  docs/plans/sprint-current.md
Due: none

fix(reliability): Add transaction rollback and model loading timeout
  backend/app/api/v1/endpoints/alerts.py
  backend/app/ml/solar_inference.py
  backend/app/ml/voltage_inference.py
Due: lint:python, test:backend, sast:bandit, container_scanning:trivy:backend, build:backend

docs: Update sprint with reliability improvements
  docs/plans/sprint-current.md
Due: none

fix(reliability): Add 5s timeout to ML prediction calls
  backend/app/ml/solar_inference.py
  backend/app/ml/voltage_inference.py
  docs/plans/sprint-current.md
Due: lint:python, test:backend, sast:bandit, container_scanning:trivy:backend, build:backend

feat(ops): Add smoke test script for deployment validation
  docs/plans/sprint-current.md
  scripts/smoke-test.sh
Due: none

docs(ops): Add comprehensive pre-deployment checklist
  docs/operations/pre-deployment-checklist.md
  docs/plans/sprint-current.md
Due: none

fix(deps): Update Python dependencies to latest stable versions
  backend/requirements.txt
Due: lint:python, test:backend, sast:bandit, container_scanning:trivy:backend, build:backend

docs: Update sprint plan with dependency fix and K8s validation
  docs/plans/sprint-current.md
Due: none

docs: Update sprint with ML service deployment and full cluster test
  docs/plans/sprint-current.md
Due: none

docs: Mark staging deployment complete with smoke tests validated
  docs/guides/design-guideline.md
  docs/plans/sprint-current.md
Due: none

feat: add new allowed Bash commands to local settings.
  .claude/settings.local.json
Due: none

docs: Add TOR 7 Functions compliance report
  docs/TOR-7-COMPLIANCE-REPORT.md
Due: none

docs: Mark staging deployment complete in release status
  docs/RELEASE-STATUS.md
Due: none

feat(api): Add demo endpoints for stakeholder demonstrations
  backend/app/api/v1/endpoints/demo.py
  backend/app/api/v1/router.py
  backend/tests/unit/test_demo.py
Due: lint:python, test:backend, sast:bandit, container_scanning:trivy:backend, build:backend

fix(frontend): Silence Turbopack workspace root warning
  frontend/next.config.ts
Due: lint:typescript, test:frontend, container_scanning:trivy:frontend, build:frontend

docs: Add POC validation guide and script for UAT
  docs/guides/POC-VALIDATION-GUIDE.md
  ml/scripts/validate_poc.py
Due: build:ml

feat(api): Add DOE (Dynamic Operating Envelope) implementation (TOR 7.5.1.6)
  backend/app/api/v1/endpoints/doe.py
  backend/app/api/v1/router.py
  backend/app/models/schemas/doe.py
  backend/app/services/doe_service.py
  backend/tests/unit/test_doe.py
  docker/init-db/03-network-model.sql
  docs/TOR-7-COMPLIANCE-REPORT.md
  docs/research/doe-implementation-research.md
Due: lint:python, test:backend, sast:bandit, container_scanning:trivy:backend, build:backend

docs: Update release status with DOE completion
  docs/RELEASE-STATUS.md
Due: none

feat(ui): Add DOE Dashboard UI component (TOR 7.5.1.6)
  docker/init-db/03-network-model.sql
  frontend/src/components/charts/DOEDashboard.tsx
  frontend/src/components/charts/index.ts
  frontend/src/components/dashboard/TORPortal.tsx
Due: lint:typescript, test:frontend, container_scanning:trivy:frontend, build:frontend

docs: Mark Phase 2b DOE UI complete in release status
  docs/RELEASE-STATUS.md
Due: none

fix(api): Fix Swagger UI CSP and rename API tags
  .claude/settings.local.json
  backend/app/api/v1/router.py
  backend/app/core/middleware.py
  backend/app/main.py
Due: lint:python, test:backend, sast:bandit, container_scanning:trivy:backend, build:backend
